# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# IDE
.vscode/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Uploads (optional if generated)
uploads/

# Streamlit
.streamlit/